<div class="container-fluid">
  <h1 style="text-align: center;color: mediumblue">Employee Registration Form</h1>
  <!--template reference variable as empForm having ngForm directive-->

  <div *ngIf="errorMsg" class="alert alert-danger">
    {{ errorMsg }}
  </div>
  <form #empForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted">
    {{ empForm.value| json }}
    <hr>
    {{ empModel | json}}
    <div class="row">
      <div class="col-md-6" style="background-color: cornflowerblue">
        <div class="form-group">
          <label>
            Employee FirstName: <input #fName="ngModel" [(ngModel)]="empModel.empFirstName"
                                       [class.is-invalid]="fName.invalid && fName.touched"
                                       class="form-control" name="empFirstName" required
                                       type="text">
            <small [class.d-none]="fName.valid || fName.untouched" class="text-danger" style="color: red">Name is
              required</small>
          </label>
        </div>

        <div class="form-group">
          <label>
            Employee LastName: <input [(ngModel)]="empModel.empLastName" class="form-control" name="empLastName"
                                      type="text">
          </label>
        </div>
        <div class="form-group">
          <!-- select option tag -->

          <label>Select Your Job:
            <select #job="ngModel" (blur)="validateJob(job.value)" (change)="validateJob(job.value)"
                    [(ngModel)]="empModel.empJob"
                    [class.is-invalid]="jobHasErrors && job.touched" class="custom-select" name="empRole"
                    required>
              <option value="default"> chose Your job</option>
              <option *ngFor="let job of jobTitles">{{ job }}</option>
            </select>
            <!--<small class="text-danger" [class.d-none]="job.valid || job.untouched">please select job</small>-->
            <small [class.d-none]="!jobHasErrors || job.untouched" class="text-danger">please select job</small>

          </label>
        </div>
        <div class="form-group">
          <label>
            Employee Email: <input #email=ngModel [(ngModel)]="empModel.empEmail" class="form-control" name="empEmail"
                                   type="email">
          </label>
        </div>
        <div class="form-group">
          <label>
            Employee Salary: <input #salary=ngModel [(ngModel)]="empModel.empSalary" class="form-control"
                                    name="empSalary"
                                    type="text">
          </label>
        </div>
        <div class="form-group">
          <label>
            Employee PhoneNumber: <input #phone="ngModel" [(ngModel)]="empModel.empPhNumber"
                                         [class.is-invalid]="phone.invalid && phone.touched" class="form-control"
                                         name="empPhoneNumber" pattern="^\d{10}$"
                                         required>
            <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number should be 10 digits</small>-->
          </label>
          <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
            <small *ngIf="phone.errors.required" class="text-danger">phone number must be required</small>
            <small *ngIf="phone.errors.pattern" class="text-danger">phone number should be 10 digits</small>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="background-color:green">
        <div ngModelGroup="address">
          <h4 style="color: darkred">Employee Address</h4>
          <div class="form-group">
            <label>
              Hno: <input [(ngModel)]="empModel.empAddress.hNo" class="form-control" name="empHno" type="text">
            </label>
          </div>
          <div class="form-group">
            <label>
              City: <input [(ngModel)]="empModel.empAddress.city" class="form-control" name="empCity" type="text">
            </label>
          </div>
          <div class="form-group">
            <label>
              State: <input [(ngModel)]="empModel.empAddress.state" class="form-control" name="empState" type="text">
            </label>
          </div>
          <div class="form-group">
            <label>
              PinCode: <input [(ngModel)]="empModel.empAddress.pinCode" class="form-control" name="empPinCode"
                              type="text">
            </label>
          </div>
        </div>
        <div class="mb-4">
          <h4 style="color:darkred; text-align: left">Chose Gender :</h4>
          <div class="form-check" ngModel>
            <label class="form-check-label form-check-inline">
              <input [(ngModel)]="empModel.empGender" class="form-check-input" name="empGender" type="radio" value="M">
              <span class="form-check-label"> Male </span>
            </label>
            <label class="form-check-label form-check-inline">
              <input [(ngModel)]="empModel.empGender" class="form-check-input" name="empGender" type="radio" value="F">
              <span class="form-check-label"> Female</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button [disabled]="jobHasErrors || empForm.form.invalid" class="btn btn-success" type="submit">Submit Form</button>
  </form>
</div>
