<p>employee-list works!</p>

<h2> Employees List </h2>
<!--<div class="container">
  <div class="row" style="background-color: red">
    <div class="col-md-2">
      <div class="table" style="alignment: left">
        <table class="table table-striped table-condensed table-responsive" style="alignment: left">
          <thead>
          <tr>
            <th scope="col">EmployeeID</th>
            <th scope="col">EmployeeName</th>
            <th scope="col">EmployeeSalary</th>
            <th scope="col">EmployeeDesignation</th>
            <th scope="col">Edit EmployeeData</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of listEmployee">
            <td>{{employee.eId}}</td>
            <td>{{employee.eName}}</td>
            <td>{{employee.eSal}}</td>
            <td>{{employee.designation}}</td>
            <td>
              <button class="btn btn-primary" type="button">UpdateEmployeeData</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>-->

  <div>
    <!--<ul class="list-group" *ngFor="let employee of listEmployee; index as i; first as isFirst">{{listEmployee.entries().next()}}
      <li class="list-group-item" *ngIf="isFirst" >
        {{i}}/{{employee.eId}} . {{employee.eName}} .{{employee.eSal}} .{{employee.deignation}}
      </li>
    </ul>-->
    <
  </div>

