<!-- <div style="text-align: center">
<h2>{{ title }}</h2>
  <h2>{{ message }}</h2>
  <div class="col-md-4" style="text-align: left">
    &lt;!&ndash;Pipes Concept through interpolation&ndash;&gt;
    <h2 class="h1">{{pipes}}</h2>
    <h2 >{{pipes | uppercase}}</h2>
    <h2 >{{pipes | lowercase}}</h2>
    <h2>{{pipes | titlecase}}</h2>
    <h2 class="h2">{{pipes | slice:2:5}}</h2>
    <h2 class="h3">{{product | json}}</h2>
    <h2 class="h4">{{num | currency: 'INR'}}</h2>
    <h2>{{num | percent}}</h2>
    <h3>{{date | date:'shortDate'}}</h3>
    <h3 class="h3">{{date | date:'short'}}</h3>
  </div>
  <div class="col-md-4" style="text-align: right">
    &lt;!&ndash; <h3>{{ }}</h3>&ndash;&gt;

  </div>
  &lt;!&ndash; <div app-loan-application >
      <p>it is adding another component selector as attribute here in root component.ts </p>
   </div>&ndash;&gt;
  &lt;!&ndash;
    <div class="app-loan-application">
  <p>it is adding another component selector as class element here in root component.ts </p>
    </div>
  &ndash;&gt;
  &lt;!&ndash;<div class="app-loan-application">
<p>it is adding another component selector as html tag here in root component.ts </p>
  </div>&ndash;&gt;
</div>-->

<!--<app-emp-registration></app-emp-registration>-->
<!--<app-student-registration></app-student-registration>-->

<!--<app-loan-application (childEvent)="message=$event" [parentData]="appComponentName"></app-loan-application>-->
<!--<app-employee-list></app-employee-list>-->
<!--<div class="container">
  <h1 style="text-align: center; color:red">Employee Portal</h1>
  <a href="emp-registration" style="color:cornflowerblue">Click Here To Register </a>
</div>-->
<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-tab nav-item">
         <a class=" nav-link routerLink=/empRegistration" href="/empRegistration">Employee Registration</a>
      </li>
      <li class="nav-tab nav-item">
        <a class="nav-tab nav-link routerLink=/empRegistration" href="/stdRegistration">Student Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-tab nav-link routerLink=/empRegistration" href="/empList">Employees List</a>
      </li>
    </ul>
  </nav>
</div>
<!--<nav>
  <a routerLink=""></a><br>
  <a routerLink=""></a>
</nav>-->


<router-outlet></router-outlet>
